<section class="blog" id="blog">
    <div class="blog-text">
        <h1>Mi Blog</h1>
    </div>><
    <div class="blog-container">
        <div class="blog-contenido">
          
                <div class="blog-item">
                    <img src="/astroportafolio/img/blog1.png" alt="" >
                    <div class="blog-datos">
                        <h3>Los videojuegos</h3>
                        <p>Los videojuegos han evolucionado mucho desde sus inicios. Han pasado de ser simples pasatiempos a convertirse en una forma de arte y entretenimiento que captura la atención de millones de personas en todo el mundo.</p>
                        <p>Una de las grandes ventajas de los videojuegos es su capacidad para sumergirnos en mundos virtuales llenos de aventuras y desafíos. Desde juegos de acción y estrategia hasta juegos de rol y aventuras gráficas, hay opciones para todos los gustos. Cada juego ofrece una experiencia única, con historias cautivadoras, personajes memorables y paisajes impresionantes.</p>
                    </div>

                </div>
                <div class="blog-item">
                    <img src="/astroportafolio/img/blog2.png" alt="" >
                    <div class="blog-datos">
                        <h3>Valorant</h3>
                        <p>Valorant, el exitoso juego de disparos en primera persona desarrollado por Riot Games, ha cautivado a jugadores de todo el mundo desde su lanzamiento. Con su combinación única de acción frenética y tácticas estratégicas, Valorant se ha convertido en un favorito de los aficionados a los juegos de disparos.</p>
                        <p>En Valorant, los jugadores se sumergen en un mundo futurista donde se enfrentan en emocionantes partidas 5 contra 5. Cada jugador elige un agente con habilidades especiales, lo que añade un elemento estratégico clave al juego. El trabajo en equipo, la comunicación y la coordinación son fundamentales para lograr la victoria.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <img src="/astroportafolio/img/blog3.png" alt="" >
                    <div class="blog-datos">
                        <h3>Doom Eternal</h3>
                        <p>Doom Eternal, desarrollado por id Software y publicado por Bethesda, es la secuela del aclamado reinicio de la saga Doom. Este juego de disparos en primera persona te sumerge en un mundo infernal lleno de demonios sedientos de sangre.</p>
                        <p>En Doom Eternal, encarnas al Doom Slayer, un guerrero imparable que se enfrenta a hordas de enemigos con una amplia variedad de armas y habilidades. La acción es frenética y despiadada, con combates intensos y una velocidad vertiginosa que te mantendrá al borde de tu asiento.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <img src="/astroportafolio/img/blog4.png" alt="" >
                    <div class="blog-datos">
                        <h3>Halo The Master Chief Collection</h3>
                        <p>The Master Chief Collection es un recopilatorio de la saga Halo para Xbox One que incluye las cuatro entregas numeradas de la saga completamente remasterizadas a 1080p.</p>
                        <p>El primer Halo es la edición aniversario lanzada para Xbox 360, ahora remasterizado. El segundo es la Halo 2 Anniversary Edition, un remake del título de 2004, mientras que Halo 3 y Halo 4 son las versiones de Xbox 360 con un lavado de cara gráfico para aprovechar la potencia de Xbox One</p>
                    </div>
                </div>
                <div class="blog-item">
                    <img src="/astroportafolio/img/blog5.png" alt="" >
                    <div class="blog-datos">
                        <h3>Battlefield</h3>
                        <p>Battlefield, desarrollado por DICE y publicado por Electronic Arts, es una franquicia icónica de juegos de disparos en primera persona que te sumerge en intensas batallas militares. Con su enfoque en el combate a gran escala y la destrucción del entorno, Battlefield ofrece una experiencia de guerra realista y emocionante</p>
                        <p>En Battlefield, los jugadores pueden participar en batallas épicas con hasta 64 jugadores en mapas enormes y detallados. El juego ofrece una amplia variedad de modos de juego, desde el clásico Conquista hasta el intenso Asalto, donde los jugadores deben trabajar en equipo para lograr la victoria.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <img src="/astroportafolio/img/blog6.png" alt="" >
                    <div class="blog-datos">
                        <h3>Counter-Strike Nexon Zombies</h3>
                        <p>Counter-Strike Nexon Zombies es una versión modificada del popular juego de disparos en primera persona, Counter-Strike. En esta versión, los jugadores se enfrentan a hordas de zombies sedientos de sangre en lugar de luchar contra otros jugadores. El juego combina la jugabilidad clásica de Counter-Strike con elementos de supervivencia contra zombis.</p>
                        <p>Los jugadores pueden elegir entre una variedad de modos de juego, incluyendo el modo cooperativo, donde pueden unirse a otros jugadores para luchar contra las oleadas de zombis.</p>
                    </div>
                </div>
                
                
                
        </div>
            

   
        
    </div>


</section>  
<style>
    .blog{

    text-align: center;
    }
    .blog h1{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 30px;
    }
    .blog-item h3{
    text-align: center;
    font-size: 2em;
    color: #000;
    padding: 10px;
    }
    .blog-item p{
    text-align: justify; 
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #C8C8C8;
    line-height: 18px;
    }

    .blog-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    } 
    .blog-contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    }


    .blog-item{
    width: 400px;
    background: white;
    border-radius: 4px;
    transition: all 0.3s ease; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    height: 65vh;


    }
    .blog-item:hover {
    transform: translate(10px, -10px);
    box-shadow: 0px 20px 50px #D9DBDF;
    }

    .blog-item img{
    width: 100%;
    }
    .blog-datos{
    padding: 0px 30px;
    }
</style>