---
import "../styles/styles.astro";
---
<header>
    <a href="#" class="logo">Mayoya</a>
    <nav>
        <ul id="menu">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#about">Sobre mi</a></li>
            <li><a href="#service">Servicios</a></li>
            <li><a href="$portafolio">Portafolio</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contacto</a></li>
            <div class="bx bx-menu" ></div>
        </ul>
    </nav>
     <div class="bx bx-menu" id="menu-icon"></div>
  
  </header>
  <style >
   


  </style> 
  <script>
    console.log("entro")
    const menuIconEl=document.querySelector('#menu-icon');
    const menuEl=document.querySelector('#menu');
    const headerEl = document.querySelector("header");

    menuIconEl.addEventListener("click",()=>{
        menuIconEl.classList.toggle('bx-x');
        menuEl.classList.toggle('open');
    })
    window.onscroll = () =>{
        menuIconEl.classList.remove('bx-x');
        menuEl.classList.remove('open');
    }

    addEventListener("scroll",()=>{
        headerEl.classList.toggle("sticky",window.scrollY>200)
    })

  </script>
